<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Deshboard</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <!-- font awesome style -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />

</head>
<style>
    #inp {
        color: black;

        border-color: brown;

    }

    .col-md-6 {
        color: black;
        background-color: rgb(21, 213, 213);

    }
</style>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid">
                    <div class="contact_nav">
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="/deshboard">
                            <span>
                                Factory
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/deshboard">Deshboard <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/employees-page"> Employees</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/departments-page">Departments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Shifts-page">Shifts</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>


        </header>
        <!-- end header section -->
    </div>

    <!-- POST -->
    <section class="contact_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Add New Employees
                </h2>
            </div>
        </div>
        <form id="myForm" action="/employees" method="POST">

            <!-- emp -->
            <!-- <div>
                    <input id="inp" name="empId" type="text" placeholder="Employee ID" />
                </div> -->
            <div>
                <input id="inp" name="firstName" type="text" placeholder="First Name" />
            </div>
            <div>
                <input id="inp" name="lastName" type="text" placeholder="Last Name" />
            </div>
            <!-- user -->
            <div>
                <input id="inp" name="userName" type="text" placeholder="User Name" />
            </div>
            <div>
                <input id="inp" name="password" type="text" placeholder="Password" />
            </div>
            <!-- emp -->
            <div>
                <input id="inp" name="startYear" type="date" placeholder="Start Year" />
            </div>
            <div>
                <input id="inp" name="numOfActions" type="number" placeholder="Number Of Actions" />
            </div>
            <div>
                <select name="departmentID" id="depOpt">
                    <option value="Production">Production</option>
                    <option value="Quality">Quality</option>
                    <option value="Maintenance">Maintenance</option>
                </select>
            </div>
            <div>

                <button onclick="redirectToEmp()" type="submit">Add</button>

            </div>
        </form>
        </div>

        </div>
        </div>
    </section>

    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayDateYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </footer>
    <!-- Scripts -->
    <script>

        function redirectToPage() {
            alert("click")
            console.log("click Add")
        }

    </script>


    <!-- Scripts -->
    <div>
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </div>
</body>

</html>