<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Deshboard</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <!-- font awesome style -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />

</head>

<style>
    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table {
        width: 800px;
        text-align: center;
    }

    button {
        width: 5%;
        text-align: center;
        margin-bottom: 1%;
        inline-size: auto;
    }

    .th {

        background-color: rgb(132, 132, 132);
    }
</style>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid">
                    <div class="contact_nav">
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="/deshboard">
                            <span>
                                Factory
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/deshboard">Deshboard <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/employeesPage"> Employees</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/departmentsPage">Departments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/ShiftsPage">Shifts</a>
                                </li>
                                <li class="nav-item" onlo>
                                    <a class="nav-link" href="/">Log Out</a>
                                </li>
                                <li class="nav-item" id="displayName">
                                    <a class="nav-link">Hello "name"</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- service section -->

    <section class="service_section layout_padding">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2> Employees </h2>
            </div>
            <a href="/employeesPage">
                <button> back</button>
                <!-- First Name -->
            </a>
            <br>
            <button onclick="searchByName()"> SearchFanme </button>
            <input type="text" id="inpFname" placeholder="First Name" value="">

            <!--  Last Name -->
            <button onclick="searchByLastName()"> SearchLanme </button>
            <input type="text" id="inpLname" placeholder="First Name" value="">

            <select onchange="searchByDep()" id="inpDep">
                <option>Chooes Department</option>
                <option value="Production">Production</option>
                <option value="Quality">Quality</option>
                <option value="Maintenance">Maintenance</option>
            </select>


            <br>

            <div id="content" id="table-container">
                <table id="tbl" border="1">
                    <tr>

                    </tr>
                </table>
            </div>
        </div>


        </div>
        </div>
    </section>

    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayDateYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </footer>
    <!-- footer section -->
    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



    <script src="./empFunc.js" type="text/javascript"></script>




</body>

</html>